<script>
    $(function(){
        register.init(`[[@{/registerimpl}]]`);
    });
</script>
        <div class="container">
            <h2>Register Page</h2>
            <form id="register_form">
                ID<input type="text" id="id" name="id"><br>
                PWD<input type="text" id="pwd" name="pwd"><br>
                NAME<input type="text" id="name" name="name"><br>
                <button type="button" class="btn btn-primary">REGISTER</button>
            </form>
        </div>

