<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.MemberRepository">

    <select id="select" resultType="memberDto">
        SELECT * FROM company_member
    </select>
    <select id="selectOne" parameterType="String" resultType="memberDto">
        SELECT * FROM company_member WHERE member_id = #{id}
    </select>
    <select id="selectId" parameterType="String" resultType="String">
        SELECT MEMBER_ID FROM COMPANY_MEMBER
        WHERE MEMBER_NAME=#{name}
        AND MEMBER_EMAIL =#{email}
    </select>
    <select id="selectPwd" parameterType="String" resultType="String">
        SELECT MEMBER_PW
        FROM COMPANY_MEMBER
        WHERE MEMBER_ID=#{id}
          AND MEMBER_NAME=#{name}
          AND MEMBER_EMAIL = #{email}
    </select>
    <insert id="insert" parameterType="memberDto">
        insert into company_member
        values(0,#{memberId},#{memberPw},#{memberName},#{memberEmail},#{memberEmailReceive},#{memberPwQuestion},#{memberPwAnswer},#{memberGender},#{memberBirthDate},now())
    </insert>
    <select id="selectResult" parameterType="String" resultType="memberDto">
        SELECT * FROM COMPANY_MEMBER WHERE LOWER(MEMBER_${category}) like CONCAT('%', #{word}, '%')
    </select>
    <select id="selectResultIntotal" parameterType="String" resultType="memberDto">
        SELECT * FROM COMPANY_MEMBER
        WHERE LOWER(MEMBER_ID) LIKE CONCAT('%', #{word}, '%')
        OR LOWER(MEMBER_NAME) LIKE CONCAT('%', #{word}, '%')
        OR LOWER(MEMBER_EMAIL) LIKE CONCAT('%', #{word}, '%')
    </select>
    <select id="selectResultsort" parameterType="String" resultType="memberDto">
        SELECT * FROM COMPANY_MEMBER
        ORDER BY MEMBER_${standard} ${sortorder}
    </select>
    <select id="selectResultcnt" parameterType="String" resultType="memberDto">
        SELECT * FROM COMPANY_MEMBER
        LIMIT ${cnt}
    </select>
</mapper>