<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.QnaRepository">
    <select id="select" resultType="qnaDto">
        SELECT * FROM company_qna
    </select>
    <select id="selectOne" parameterType="int" resultType="qnaDto">
        SELECT * FROM company_qna where qna_idx=#{selno}
    </select>
</mapper>