<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.QnaRepository">
    <select id="select" resultType="qnaDto">
        SELECT * FROM company_qna
    </select>
    <select id="selectOne" parameterType="int" resultType="qnaDto">
        SELECT * FROM company_qna where qna_idx=#{selno}
    </select>
    <select id="selectResult" parameterType="String" resultType="qnaDto">
        SELECT qna_idx, qna_name, qna_content, qna_title, DATE_FORMAT(qna_date,'%Y-%m-%d') as qna_date FROM COMPANY_QNA WHERE qna_${category} like CONCAT('%', #{word}, '%')
    </select>
</mapper>